<img src="images/usm.jpg" width="480" height="240" align="left"/>

# MAT281 - Laboratorio N°03

## Objetivos de la clase

* Reforzar los conceptos básicos de pandas.

## Contenidos

* [Problema 01](#p1)

## Problema 01


<img src="https://imagenes.universia.net/gc/net/images/practicas-empleo/p/pr/pro/profesiones-con-el-avance-de-la-tecnologia.jpg" width="480" height="360" align="center"/>


EL conjunto de datos se denomina `ocupation.csv`, el cual contiene información tal como: edad ,sexo, profesión, etc.

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [1]:
import pandas as pd
import os

In [2]:
# cargar datos
df = pd.read_csv(os.path.join("data","ocupation.csv"), sep="|").set_index('user_id')
df.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1. ¿Cuál es el número de observaciones en el conjunto de datos?

In [3]:
print("\nNúmero de observaciones: ")
df.shape[0]

Número de observaciones:

943

2. ¿Cuál es el número de columnas en el conjunto de datos?

In [4]:
print("\nNúmero de columnas: ")
df.shape[1]

Número de columnas:

4

3. Imprime el nombre de todas las columnas

In [5]:
print("\nEtiquetas: ")
df.columns

Etiquetas:

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

4. Imprima el índice del dataframe

In [6]:
print("\nÍndice: ")
df.index

Índice:

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

5. ¿Cuál es el tipo de datos de cada columna?

In [7]:
print("\nTipo de datos columnas: ")
df.dtypes

Tipo de datos columnas:

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

6. Resumir el conjunto de datos

In [8]:
print("\nResumen del dataframe: ")
df.describe()

Resumen del dataframe:

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

7. Resume conjunto de datos  con todas las columnas

In [9]:
print("\nResumen del dataframe: ")
df.describe(include='all')

Resumen del dataframe:

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

8. Imprimir solo la columna de **occupation**.

In [10]:
df['occupation']

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

9. ¿Cuántas ocupaciones diferentes hay en este conjunto de datos?

In [11]:
print("Cantidad de ocupaciones diferentes: ")
len(df['occupation'].unique())

Cantidad de ocupaciones diferentes:

21

10. ¿Cuál es la ocupación más frecuente?

In [12]:
print("Ocupación más frecuente: ")
frec_oc = df['occupation'].value_counts()
freq_max = frec_oc.max()
frec_oc[frec_oc == freq_max]

Ocupación más frecuente:

student    196
Name: occupation, dtype: int64

11. ¿Cuál es la edad media de los usuarios?

In [13]:
print("Edad promedio de los usuarios: ")
df['age'].mean()

Edad promedio de los usuarios:

34.05196182396607

12. ¿Cuál es la edad con menos ocurrencia?

In [14]:
frec_edad = df['age'].value_counts()
freq_min = frec_edad.min()
print("Edades con menor frecuencia: ")
frec_edad[frec_edad == freq_min]

Edades con menor frecuencia:

11    1
10    1
73    1
66    1
7     1
Name: age, dtype: int64